body {
    margin: 0 50px;
    max-width: 1400px;
}

/*polices*/
* {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 8px;
}

h2 {

    font-size: 22px;
    line-height: 26px;
    margin: 0px;
}

h3 {

    font-size: 16px;
    line-height: 19px;
    margin: 0px;
}

strong #button {

    font-size: 17px;
    line-height: 21px;
    margin: 0px;
}

p,
#phrase__informative,
#main__subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin: 0px;
}

/*etoiles bleues*/
.fa-solid {
    color: #0065FC;
    font-size: 0.8em;
    margin-top: 2px;
}

/*etoile grise*/
.fa-solid.fa-star.y {
    color: #F2F2F2;
}

/*Header*/
.menu__container__1 {
    display: flex;
    justify-content: space-between;
}

/*logo seulement*/
#logo {
    margin-top: 44px;
    height: 19px;
}

/*Trouvez votre hébergement pour des vacances de rêve*/
.main__title {
    margin: 63px 0px 20px 0px;
}

/*formulaire*/
.form {
    height: 49px;
    width: 409px;
    display: flex;
    margin: 20px 0px 32px 0px;
}

#research {
    border: 1px solid #F2F2F2;
    padding-left: 24px;
    width: 286px;
}

.form input::placeholder {
    color: black;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
}

#button {
    background: #0065FC;
    color: #FFFFFF;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    padding: 14px 16px 14px 16px;
}

/*boutton caché qui apparaitra 
a la place du boutton'rechercher'*/
#button2 {
    background: #0065FC;
    visibility: hidden;
    border: 1px solid #0065FC;
    border-radius: 15px;
    padding: 15px 16px 17px 16px;
    margin-left: -13px;
}

/*loupe*/
.fa-solid.fa-magnifying-glass {
    color: #FFFFFF;
    font-size: 1.2em;
}

/*boutton localisation dans barre recherche*/
.fa-sharp.fa-solid.fa-location-dot {
    background: #F2F2F2;
    color: #000000;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    padding: 14px 18px 17px 18px;
    margin-top: 0px;
    font-size: 1.1em;
}

/*mini menu en haut a droite*/
#menu__right {
    display: flex;
}

/*mini menu en haut a droite*/
.small__header__menu {
    margin-left: 67px;
    padding-top: 44px;
    text-decoration: none;
    text-align: center;
}

.small__header__menu:hover {
    padding-top: 42px;
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

/*Plus de 500 logements sont
disponibles dans cette ville+
logo i */
.phrase__info {
    margin: 50px 0px 37px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

/*logo i */
.fa-solid.fa-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 11px;
    margin-top: -5.5px;
    width: 4px;
    height: 12px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    padding: 5px 10px 7px 10px;
}

.word__filter {
    margin-top: 14px;
}

.menu__filter__only__bubble {
    display: flex;
    gap: 15px;
}

.menu__filter {
    gap: 15px;
    display: flex;
    list-style-type: none;
    height: 50px;
}

.icon__filter {
    font-size: 1.3em;
    margin-top: -3px;
}

.subtitle__filter {
    margin-left: 10px;
    margin-top: -2px;
}

.filter {
    display: flex;
    align-items: center;
}

.filter__and__logo {
    display: flex;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 15px;
}

.filter__and__logo:hover {
    background: #DEEBFF;
}

/* les 2 conténaires, lodging et popular*/
.lodging__and__popular__sections {
    display: flex;
    JUSTIFY-CONTENT: space-between;
}

.container__lodging {
    width: 65%;
    height: 614px;
    background: #F2F2F2;
    border-radius: 20px;
}

#title__lodging {
    margin: 30px 500px 0px 30px;
    white-space: nowrap;
    width: 334px;
}

section+h1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.grid__container__lodging {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(2, 199px);
    grid-gap: 30px;
    padding: 30px;
    justify-content: center;
}

.child__lodging {
    background: #FFFFFF;
    height: 199px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
}

.picture__child__lodging {
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
    height: 124px;
    width: 100%;
    object-fit: cover;
    box-sizing: border-box;

}

.star__lodging {
    display: flex;
}

.subtitle__lodging {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    gap: 3px;
    margin-top: -3px
}

.afficher__plus {
    margin-left: 40px;
}

.section__popular {
    width: 32%;
    height: 614px;
    background: #F2F2F2;
    border-radius: 20px;
}

.container__article__popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 35px;
    margin-top: 30px;
}

#title__popular {
    display: flex;
    justify-content: space-between;
    margin: 30px 35px 0px 37px;
}

/*icon statistic*/
.fa-solid.fa-chart-line {
    margin-top: 7px;
}


.child__popular {
    display: flex;
    background: #FFFFFF;
    border-radius: 20px;
    height: 144px;
    width: 85%;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
}

.picture__popular {
    object-fit: cover;
    height: 135px;
    width: 33%;
    border-radius: 20px 0px 0px 20px;
    border: 5px solid #FFFFFF;
}

.subtitle__child__popular__and__stars {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1% 2% 0% 3%;
}

/* margin top elevé
pour mettre etoiles en bas */
.popular__star {
    display: flex;
    margin: 0px 0px 12px 0px;
}

.section__activity {
    width: 100%;
    height: 493px;
    margin: 60px 0px 0px 0px;
}

#title__activity {
    margin: 60px 0px 30px 30px;
}

.container__activity {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.article__activity {

    height: 444px;
    width: 225px;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.picture__activity {
    height: 85%;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.subtitle__activity {
    padding: 0;
    margin: 22px 0px 0px 30px;
}

footer {
    box-sizing: border-box;
    background: #F2F2F2;
    margin-top: 61px;
    height: 225px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 280px 20px 20px;
}

a {
    color: #000000;
    text-decoration: none;
}

.foot__child {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 20px;
}

/*format tablette*/
@media (max-width: 992px) {
    .menu__filter {
        flex-direction: column;
    }

    .word__filter {
        margin-top: 0px;
    }

    .lodging__and__popular__sections {
        flex-direction: column;
    }

    .container__lodging {
        width: 100%;
    }

    .section__popular {
        height: 278px;
        margin: 53px 0px 70px 0px;
        width: 100%;
        padding: 0px;
    }

    #title__popular {
        margin-left: 30px;
    }

    .container__article__popular {
        flex-direction: row;
        justify-content: center;
        padding: 0px 30px;
        box-sizing: border-box;
    }

    .picture__popular {
        object-fit: cover;
        Height: 134px;
    }

    .popular__star {
        margin-bottom: 10%;
    }

    .child__popular {
        height: 144px;
        width: 30%;
    }

    .subtitle__child__popular {
        margin: 3%;
    }

    .container__activity {
        justify-content: space-around;
    }

    #title__activity {
        margin-bottom: 34px;
        margin-top: 0px;
    }

    .section__activity {
        width: 100%;
        height: 330px;
        margin: 60px 0px 0px 0px;
    }

    .article__activity {
        height: 267px;
        width: 182px;
    }

    .subtitle__activity {
        margin: 16px 19px;
    }

    .picture__activity {
        height: 74%;
        width: 182px;
    }

    footer {
        padding-right: 150px;
        height: 143px;
    }
}

/*format telephone*/
@media (max-width: 767.9px) {
    body {
        margin: 0px;
    }

    .menu__container__1 {
        display: block;
        margin: 0px;
    }

    .logo__container {
        justify-content: center;
        display: flex;
        align-items: center;
    }

    #research {
        width: 100%;
    }

    .activity {
        margin-left: 45.5px;
    }

    .small__header__menu {
        margin: 0px;
        padding-bottom: 23.09px;
        padding-top: 30px;
        box-sizing: border-box;
        width: 50%;
        border-bottom: 3px solid #F2F2F2;
    }

    #menu__right {
        margin: 0px;
        width: 100vw;
    }

    .small__header__menu:hover {
        border-bottom: 3px solid #0065FC;
        border-top: solid #ffffff;
        padding-bottom: 20.09px;
        padding-top: 30px;
    }

    /*pour faire revenir le texte 
    a la ligne*/
    .main__title {
        min-width: 300px;
        margin: 30px 20px 0px 20px;
    }

    .form {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .menu__filter {
        height: auto;
        align-items: center;
    }

    .word__filter {
        margin-right: 83%;
        margin-left: 20px;

    }

    .menu__filter__only__bubble {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 91%;
        gap: 10px;
    }

    .filter__and__logo__left__container {
        display: flex;
        width: 100%;
        height: 100%;
    }

    .filter__and__logo__right__container {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: end;
    }

    .subtitle__filter {
        font-size: 14px;
        line-height: 16.44px;
        margin-top: 0px;
        margin-left: 10px;
    }

    .position__queries-phone {
        margin-left: 17px;
    }

    .filter__and__logo {
        padding: 16px 11px 15.5px 19px;
        width: 130px;
    }

    .phrase__info {
        margin: 35px 22px 42px 20px;
    }

    #phrase__informative {
        word-break: normal;
        max-width: 300px;
    }

    #button {
        content: "Recherchez";
        display: none;
    }

    /*loupe*/
    #button2 {
        visibility: visible;
    }

    /*inverser l'ordredes sections*/
    .lodging__and__popular__sections {
        flex-direction: column-reverse;
    }

    .section__popular {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        min-width: 375px;
        height: auto;
        margin: 0px;
        padding-bottom: 30px;
    }

    .container__article__popular {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        width: 100%;
        padding: 0px;
    }

    .child__popular {
        width: 91vw;
    }

    #title__popular {
        margin: 28px 20px;
        width: 91vw;
    }

    .container__lodging {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        min-width: 355px;
        height: 1400px;
        padding: 10px 0px;
        margin: 0px 0px 50px 0px;
        background-color: #ffffff;
    }

    .grid__container__lodging {
        display: flex;
        flex-direction: column;
        padding: 15px 0px 0px 0px;
        gap: 15px;
    }

    #title__lodging {
        margin: 35px 0px 0px 8px;
        width: 91vw;
    }

    .child__lodging {
        background: #FFFFFF;
        height: 199px;
        width: 91vw;
    }

    .picture__child__lodging {
        border: 5px solid #FFFFFF;
        border-radius: 20px 20px 0px 0px;
        height: 124px;
        width: 100%;
    }

    .afficher__plus {
        visibility: hidden;
    }

    .container__activity {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .section__activity {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 100vw;

        margin: 0px 0px 40px 0px;
    }

    #title__activity {
        margin: 75px 0px 30px 0px;
        width: 91vw;
    }

    .article__activity {
        margin-bottom: 15px;
        height: 190px;
        max-width: 1000px;
        width: 91vw;
    }

    .picture__activity {
        height: 134px;
        width: 100%;
    }

    .subtitle__activity {
        margin-left: 19px;
    }

    /*border box car sinon footer
fais plus de 100% de la largeur
a cause du padding*/
    footer {
        width: 100vw;
        height: auto;
        margin: 0px;
        flex-direction: column;
        padding-left: 30px;
        padding-bottom: 30px;
        box-sizing: border-box;
    }
}