body {

    max-width: 1400px;
    /* centrage horizontal */
    margin: auto;
}

/*polices*/
* {
    font-family: 'Raleway', sans-serif;
}

h1,
h2 {
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
    margin: 0px;
}

h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 0px;
}

strong {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    margin: 0px;
}

p,
#phrase__informative,
#main__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin: 0px;
}

/*etoiles bleues*/
.fa-solid {
    color: #0065FC;
}

/*etoile grise*/
.fa-solid.fa-star.y {
    color: #F2F2F2;
}

/*Header*/
.menu__container__1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-left: 55px;

}

/*logo seulement*/
#logo {
    margin-top: 44px;
    display: flex;
    width: 61.09px;
    height: 19px;
}

/*Trouvez votre hébergement pour des vacances de rêve*/
.main__title {
    margin: 63px 0px 20px 50px;
}

/*formulaire*/
.form {
    height: 49px;
    width: 372px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 20px 0px 32px 50px;
}

#research {
    border: 1px solid #F2F2F2;
    padding-left: 19px;
    width: 286px;
}

/* loupe caché, pour quelle réaparaisse
en format phone*/
.fa-solid.fa-magnifying-glass {
    color: #c12222;

}

.form input::placeholder {
    color: black;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
}

#button {
    background: #0065FC;
    color: #FFFFFF;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    padding: 14px;
}

#button2 {
    background: #0065FC;
    visibility: hidden;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    padding: 16px;
}

/*loupe*/
.fa-solid.fa-magnifying-glass {
    color: #FFFFFF;

}

/*boutton localisation dans barre recherche*/
.fa-sharp.fa-solid.fa-location-dot {
    background: #F2F2F2;
    color: #000000;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    padding: 14px;
}

/*mini menu en haut a droite*/
#menu__right {
    margin-right: 77px;

    display: flex;
}

/*mini menu en haut a droite*/
.small__header__menu {
    margin-left: 67px;
    padding-top: 44px;
    text-decoration: none;
    text-align: center;

}

.small__header__menu:hover {
    padding-top: 42px;
    color: #0065FC;
    border-top: 2px solid #0065FC;

}

/*Plus de 500 logements sont
disponibles dans cette ville+
logo i */
.phrase__info {
    margin: 50px 0px 37px 59px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

/*logo i */
.fa-solid.fa-info {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 24px;
    width: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    margin-right: 11px;

}

.menu__filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    height: 50px;
    width: 914px;
    margin-left: 62px;
}

.subtitle__filter {
    margin-left: 10px;
    margin-top: -2.5px;
}

.filter {
    display: flex;
    align-items: center;

}

.filter__and__logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 15px;
}

.filter__and__logo:hover {
    background: #DEEBFF;
}

/* les 2 conténaires, lodging et popular*/
.lodging__and__popular__sections {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.container__lodging {
    width: 880px;
    height: 626px;
    margin-left: 50px;
    margin-right: 40px;
    background: #F2F2F2;
    border-radius: 20px;
}

#title__lodging {
    margin: 40px 562px 23px 40px;
    white-space: nowrap;
}

section+h1 {

    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.grid__container__lodging {
    display: grid;
    grid-template-columns: repeat(3, 246px);
    grid-template-rows: repeat(2, 199px);
    grid-gap: 30px;
    justify-content: center;
    align-content: center;
}

.child__lodging {
    background: #FFFFFF;
    height: 199px;
    width: 250px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.picture__child__lodging {
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
    height: 124px;
    width: 240px;
}

.star__lodging {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.subtitle__lodging {
    display: flex;
    flex-direction: column;
    margin-left: 16px;

}

.afficher__plus {
    white-space: nowrap;
    margin: 40px 0px 0px 44px;

}

.section__popular {

    height: 625px;
    background: #F2F2F2;
    border-radius: 20px;
}

.container__article__popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    width: 420px;
    gap: 35px;
    margin-top: 30px;

}

#title__popular {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 37px;
    margin-top: 41px;
    margin-right: 42px;
}

.child__popular {
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    border-radius: 20px;
    height: 144px;
    width: 80%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.picture__popular {
    height: 135px;
    width: 132px;
    border-radius: 20px 0px 0px 20px;
    border: 5px solid #FFFFFF;
}

.subtitle__child__popular {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 16px 13px 0px 15px;
}

/* margin top elevé
pour mettre etoiles en bas */
.popular__star {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 33px 0px 12px 0px;
}

.section__activity {
    width: 1337px;
    height: 493px;
    margin: 60px 53px 0px 50px;

}

#title__activity {
    white-space: nowrap;
    margin: 60px 0px 18.47px 0px;
}

.container__activity {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

}

.article__activity {
    height: 444px;
    width: 302px;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.picture__activity {
    height: 389px;
    width: 302px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.subtitle__activity {
    margin-left: 19px;
}

footer {
    background: #F2F2F2;
    margin: 61px 50px 0px 50px;
    height: 225px;
    width: 1339px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

a {
    color: #000000;
    text-decoration: none;
}

.foot__child {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 45px;
}

/*format tablette*/
@media (max-width: 992px) {

    .lodging__and__popular__sections {
        flex-direction: column;
    }

    .section__popular {
        height: 278px;
        margin: 53px 70px 70px 70px;
        width: 865px;
    }

    .menu__filter {
        margin-left: 70px;
        width: 846px;
    }

    .container__lodging {
        margin-left: 70px;
    }

    .container__article__popular {
        flex-direction: row;
    }

    .subtitle__child__popular {
        flex-wrap: nowrap;
    }

    .star__popular {
        margin-bottom: 10%;
        margin-top: 0px;
    }

    .section__popular {
        padding-left: 20px;
        margin-right: 70px;
    }

    .child__popular {
        height: 45%;
        width: 252px;
    }

    .subtitle__child__popular {
        margin-top: 12px;
    }

    .section__activity__Marseille {
        width: 880px;
        height: 330px;
        margin: 0px 73px 0px 73px;
    }

    .article__activity {
        height: 267px;
        width: 182px;

    }

    .picture__activity {
        height: 211px;
        width: 182px;
    }

    footer {
        width: 880px;
        margin-left: 70px;
    }
}

/*format telephone*/
@media (max-width: 768px) {
    .main__title

    /*pour faire revenir le texte 
                            a la ligne*/
        {
        overflow-wrap: break-word;
        width: 40%;
        margin-left: 20px;
    }

    .menu__container__1 {
        display: block;
    }

    #logo {
        margin: 20px 0px 50px 120px;
    }

    .activity {
        margin-left: 45.5px;
    }

    .small__header__menu {
        margin-right: 45.5px;
    }

    #menu__right {

        margin: 0px 0px 50px 0px;
        height: 50px;
        width: 100%;
    }

    .small__header__menu:hover {
        border-bottom: 3px solid #0065FC;
        border-top: none;
    }

    .form {
        margin-left: 20px;
        margin-right: 0px;
    }

    .menu__filter {
        height: 153px;
        width: 334px;
        margin-left: 20px;
        flex-wrap: wrap;
    }

    .subtitle__filter {
        font-size: 11px;
        line-height: 13px;
        margin-top: 0px;
    }

    .filter__and__logo {
        width: 145px;
        height: 17.12px;
        padding: 19px 0px 18px 13px;
    }

    .filter {
        margin-right: 90%;
        margin-left: 20px;
        margin-bottom: 15px;
    }

    .phrase__info {
        margin: 43px 22px 17px 20px;
    }

    #phrase__informative {
        word-break: normal;
    }

    #button {
        content: "Recherchez";
        display: none;
    }

    /*loupe*/
    #button2 {
        visibility: visible;
        margin-right: 20px;
    }

    /*inverser l'ordre
                            des sections*/
    .lodging__and__popular__sections {
        flex-direction: column-reverse;
    }

    .section__popular {
        width: 375px;
        height: 580px;
        margin: 0px;
        padding-bottom: 20px;
    }

    .container__article__popular {
        flex-direction: column;
        align-items: start;
        gap: 11px;
    }

    .child__popular {
        height: 144px;
        width: 334px;

    }

    #title__popular {
        margin: 28px 21px 26px 20px;
    }

    .container__lodging {
        width: 355px;
        height: 1400px;
        padding: 10px;
        margin-left: 0px;
        background-color: #ffffff;

    }

    .grid__container__lodging {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    #title__lodging {
        margin: 26px 0px 19px 10px;
    }

    .child__lodging {
        background: #FFFFFF;
        height: 199px;
        width: 335px;
    }

    .picture__child__lodging {
        border: 5px solid #FFFFFF;
        border-radius: 20px 20px 0px 0px;
        height: 124px;
        width: 325px;
    }

    .afficher__plus {
        visibility: hidden;
    }

    .container__activity {
        flex-direction: column;
    }

    #title__activity {
        /*????*/
        overflow-wrap: break-word;

    }

    .section__activity {
        height: auto;
        width: auto;
        margin: 20px 0px 0px 20px;
    }

    .article__activity {
        margin-bottom: 24px;
        height: 190px;
        width: 334px;
    }

    .picture__activity {
        height: 134px;
        width: 334px;
    }

    footer {
        width: 377px;
        height: auto;
        margin: 0px;
        flex-direction: column;
        flex-wrap: nowrap;
        padding-left: 30px;
    }

}